.card {
  min-height: 736px;
  max-height: 994px;
  width: 1240px;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,.06);
  border-radius: 7px;

  display: grid;
  grid-template-rows: 1fr 50px;
  background-color: white;
  justify-items: center;

    &__generate {
        background-color: #00CB79;
    }

    &__clear {
        background-color: #45B0E5;
    }
}

.home {
    background-color: rgba(207, 207, 207, 0.06);
    display: grid;

    justify-items: center;
    // align-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
}

.home {
    position: relative;

    background-color: rgba(207, 207, 207, 0.06);
    display: grid;
  }

  .header {
      align-self: center;
      &__skew {
          -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
          clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);

          z-index: -10;
          top: 0;
          left: 0;
          position: absolute;
          height: 10vh;
          width:100vw;
          background-color: #444444;

}
.input {
    display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];

    font-family: 'Montserrat';
    text-align: center;

    &__title {
        grid-column: input-s/input-e;
    }
    input {
      display: grid;
          // grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];

          font-family: 'Montserrat';
          text-align: center;
          grid-column-gap: 8px;

          height 47px;

&:focus {
  outline: none;
  border-bottom: 3px solid 0 #00CB79;
}
    &__number {
        grid-column: number-s/number-e;

        background-color: #00CB79;
        color: white;
        font-size: 20px;
        line-height: 24px;
        padding-top: 3px;
        height: 26px;
        width: 26px;
        border-radius: 50%;
    }

&__border {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
    clip-path: polygon(0 48%, 100% 23%, 100% 25%, 0 50%);
    transform: skewY(40deg);
    z-index: -10;
    top: 0;
    left: 0;
    position: absolute;
    height: 110vh;
    width:100vw;
    background-color: #00CB79;
}
}
p {
    color: rgba(255,255,255,0.75);
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
    width: 403px;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

button:focus {
    outline: none;
}

button {
    justify-self: center;
}

&__content {
     width: 1100px;
     height: 297px;
     background-color: #F2F2F2;

     justify-self: center;
     margin-bottom: 84px;

     p {
        line-height: 29px;
        padding: 50px 47px;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 300;
     }
 }
